.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
}

@media (min-width: 992px) {
  .grid-container {
    grid-template-columns: repeat(6, 1fr);
  }
}

.grid-container {
  display: grid;
  /*... other properties ...*/
  gap: 20px;
  /* यह 20px का गैप इस इमेज के करीब है */
}

.grid-card {
  border: 1px solid #ddd;
  padding: 5px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
  background: #fff;
  max-width: 200px;
  justify-self: center;
  gap: 5px;
}

/* .grid-card:hover {
  transform: translateY(-3px);
} */


.grid-card img {
  max-width: 100%;
  height: 100px;
  object-fit: contain;
  margin-bottom: 5px;
}




.product-card-content {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  padding: 5px;
  background-color: #ffffff;
  transition: transform 0.3s ease;
  max-width: 200px;
  margin: 0 auto;

}

.product-card-content:hover {
  transform: translateY(-3px);
}

.product-card-content img {
  height: 100px;
  object-fit: contain;
  width: 100%;
  border-radius: 5px;
  margin-bottom: 5px;
}